@media (max-width: 1024px) {

  .form__input,
  .form__select {
    width: 100%;
  }
}

@media (max-width: 992px) {

  /*---header992---*/
  /*.header__nav {
    display: none;
  }*/



  .header__btn {
    margin-right: 7px;
    padding: 12px 35px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid currentColor;
    border-radius: 3px;
    color: #3172b9;
  }

  .burger_active
  .burger__line:nth-child(2) {
    opacity: 0;
  }

  .burger_active
  .burger__line:first-child {
   left: 25%;
   top: 50%;
   transform: rotate(45deg);
   transform-origin: center;
   transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger_active
  .burger__line:last-child  {
    bottom: auto;
    left: 25%;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .burger__line {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  .stop-scroll  {
    overflow: hidden;
  }

  .header__nav .nav__list {
    flex-direction: column;
  }

  .header__nav .nav__item:not(:last-child)  {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav .nav__link {
    font-size: 18px;
  }

  .header__nav  {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 2000 ;
    padding: 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .header__nav_active {
    visibility: visible;
    transform: none;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: inherit;
    background-color: currentColor;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 13px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  /*---hero992---*/
  .hero__content {
    width: 75%;
  }

  /*---services-992---*/
  .services-list {
    flex-wrap: wrap;
  }

  .services-item {
    margin-bottom: var(--gap);
    width: calc((100% - (var(--gap))) / 2);
  }

  .services-item:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .services-item:not(:nth-child(2n)) {
    margin-right: var(--gap);
  }

  /*---clients992---*/

  .clients-item {
    padding: 20px;
  }

  /*---join992---*/
  .form {
    padding: 0;
  }

  /*---footer992---*/
  .footer__container {
    flex-direction: column;
  }

  .footer__left {
    margin-bottom: var(--gap);
  }
}

@media (max-width: 768px) {

  /*---articles768---*/

  .blog-preview__link {
    flex-direction: column;
  }

  /*---clients 768---*/

  .clients-list {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .clients-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .clients-item {
    width: calc((100% - (var(--gap))) / 2);
    margin-bottom: var(--gap);
  }

  /*---footer 768---*/

  .footer__nav {
    margin-right: 30px;
  }

  .footer__nav .nav__item:not(:last-child) {
    margin-right: 5px;
  }

}

@media (max-width: 576px) {

  :root {
    --gap: 15px;
  }

  .section-offset {
    padding-top: 60px;
    padding-bottom: 0;
  }

  .section-title {
    margin-bottom: 14px;
  }

  /*---header--576--*/
  .header {
    padding: 15px 0;
  }

  .header__logo {
    width: 80px;
  }

  .header__btn {
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 22px;
    padding-right: 22px;
  }

  /*---hero--576--*/
  .hero {
    padding-top: 30px;
    padding-bottom: 0;
    background-image: none;
  }

  .hero__content {
    width: 100%;
  }

  .hero__title {
    margin-bottom: 16px;
  }

  .hero__descr {
    margin-bottom: 14px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__btn {
    min-width: 100%;
  }

  /*---services-576--*/
  .services__title {
    text-align: left;
    margin-bottom: 14px;
  }

  .services__descr {
    margin-bottom: 1px;
    text-align: left;
    line-height: 20px;
  }

  .services-item {
    min-height: 222px;
    margin-bottom: 20px;
    padding: 15px;
    padding-bottom: 35px;
  }

  .services-item__icon {
    margin-bottom: 14px;
    width: 56px;
    height: 42px;
  }

  .services-item__title {
    margin-bottom: 3px;
    font-size: 16px;
    line-height: 21px;
  }

  .services-item__descr {
    font-size: 12px;
    line-height: 150%;
  }

  .services-list {
    margin-bottom: 19px;
  }

  /*---articles-576---*/
  .articles-item {
    width: 100%;
  }

  .articles-item:not(:nth-child(2n)) {
    margin-right: 0px;
  }

  .blog-preview {
    min-height: 191px;
  }

  .blog-preview__link {
    flex-direction: row;
    align-items: center;
  }

  .blog-preview__image {
    flex-shrink: 0;
    width: 86px;
    height: 100%;
  }

  .blog-preview__text {
    padding: 15px;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .blog-preview__title {
    margin-bottom: 2px;
  }

  .articles-list {
    margin-bottom: calc(-1 * var(--gap));
  }

  .articles-center  {
    display: block;
    padding-bottom: 20px;
  }

  .articles-center_hidden {
    display: none;
  }

  .articles-item.articles-item_visible  {
    display: block;
  }

  .articles-item:nth-child(-n + 2)  {
    display: none;
  }

  /*---clients-576---*/

  .clients {
    padding-top: 31px;
  }

  .clients__title {
    margin-bottom: 15px;
  }

  .clients-item {
    width: 100%;
    margin: 0;
    margin-bottom: 13px;
  }

  .clients-list {
    margin-bottom: 35px;
  }

  .clients__post {
    display: inline-block;
    transform: translateY(-7px);
  }

  /*---clients-576---*/

  .contacts-list {
    flex-wrap: wrap;
    margin-bottom: 34px;
  }

  .contacts-item {
    width: 100%;
    margin-bottom: 27px;
    padding-top: 41px;
  }

  .contacts-item:not(:nth-child(3n)) {
    margin-right: 0;
  }

  .contacts-item__caption {
    margin-bottom: 10px;
  }

  /*---join-320---*/
  .join {
    padding-bottom: 59px;
  }

  .join__title {
    text-align: left;
  }

  .join__descr {
    text-align: left;
  }

  .form__top {
    margin-bottom: 15px;
    flex-wrap: wrap;
  }

  .form__left {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
  }

  .form__right {
    width: 100%;
    height: 240px;
  }

  .form__wrapper {
    width: 100%;
  }

  .form__btn {
    margin-bottom: 16px;
  }

  .form__check {
    text-align: center;
  }

  .form__checkbox {
    margin-right: 4px;
  }

  .form__input {
    margin-bottom: 15px;
    padding-left: 18px;
  }

  .form__select {
    padding-left: 14px;
  }

  .form__textarea {
    padding-left: 18px;
  }

  /*---footer-320---*/
  .footer {
    padding: 0;
    padding-top: 29px;
  }
  .footer__container  {
    flex-direction: column-reverse;
  }
  .footer__left {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
  }
  .footer__nav  {
    margin: 0;
    width: 100%;
    margin-bottom: 12px;
  }
  .footer__nav .nav__list {
    flex-wrap: wrap;
  }
  .footer__nav .nav__link {
    font-size: 15px;
    line-height: 20px;
  }
  .footer__right  {
    margin-bottom: 28px;
    flex-wrap: wrap;
  }
  .footer__nav .nav__item:not(:last-child)  {
    margin-right: 30px;
  }

  .footer__nav .nav__item {
    margin-bottom: 15px;
  }

  .social-list__item:not(:last-child) {
    margin-right: 22px;
  }
  .footer__logo {
    margin-bottom: 26px;
    margin-right: 0;
    max-width: 80px;
  }

  .footer-copy  {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    border-top: 1px solid #c4c4c4;
    padding: 17px 0;
  }



}
