html  {
  box-sizing: border-box;
}

body  {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

*, *::before, *::after  {
  box-sizing: inherit;
}

a  {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img  {
  max-width: 100%;
}

/*-------Global-------*/

h1, h2, h3, h5, h6  {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset  {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.flex {
  display: flex;
}

.container  {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-----General Styles-----*/

.section-title  {
  margin: 0;
  margin-bottom: 40px;
}

.section-description  {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/*-----Header-----*/

.lionic-header  {
  padding: 36px 0;
}

.lionic-header__container {
  align-items: center;
}

.lionic-header__logo  {
  margin-right: auto;
}

.lionic-header__nav {
  margin-right: 52px;
}

.header-nav__item:not(:last-child)  {
  margin-right: 52px;
}

/*-----Section hero-----*/

.section-hero {
  padding: 100px 0;
}

.section-hero__content  {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.section-hero__title  {
  margin-bottom: 25px;
}

.section-hero__descrition {
  margin: 0;
  margin-bottom: 34px;
}

.section-hero__btn  {
  margin-bottom: 14px;
}
